@import "../../scss/variables.scss";

.gallery-container {
    overflow: visible;
    .image-hovered {
        z-index: 1;
    }
    .photo-container {
        transition: all 0.2s ease;
        z-index: 0;
        &:hover {
            transform: scale(1.1);
            transition: all 0.2s ease;
            cursor: pointer;
            z-index: 1000;
        }
        .advanced-image {
            image-rendering: optimizeSpeed;
            object-fit: cover;
        }
    }
}