@import "../../scss/variables.scss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .logoLibonati {
    filter: invert(53%) sepia(95%) saturate(254%) hue-rotate(359deg)
      brightness(89%) contrast(90%);
  }

  p {
    font-family: "Roboto";
    font-size: 1.15rem;
    font-weight: 300;
  }

  h1 {
    // font-family: 'Macondo', cursive;
    font-size: 3rem;
    padding-bottom: 1.25rem;
  }

  h2 {
    font-family: "Lora", serif;
    font-size: 1rem;
    font-weight: bold;
  }

  h3 {
    font-family: "Montserrat";
    font-size: 2rem;
  }

  .fitHeight {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    height: 100%;
    max-height: 70vh;
    max-width: 100%;
    width: 40vh;
  }

  .sliderHome {
    .swiper-scrollbar-drag {
      background-color: rgba(138, 106, 55, 0.7);
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: rgba(138, 106, 55);
    }
    .swiper-pagination-bullet, .swiper-pagination-bullet-active {
      background-color: rgba(138, 106, 55);
    }
    .memberDescription {
      font-family: "Poppins";
      font-size: 1rem;
    }
  }
}

.parallax {
  /* The image used */
  background-image: url("https://res.cloudinary.com/jech33/image/upload/q_auto/libonatis/Flag-Mockup_irkdre.png");

  /* Create the parallax scrolling effect */
  @media screen and (max-width: 768px) {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (min-width: 768px) {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
